<connectionStrings>
  <add name="BSMSDB"
     connectionString="Data Source=.;Initial Catalog=eBikes;Integrated Security=true"
     providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection"
     connectionString="Data Source=.;Initial Catalog=eBikes;Integrated Security=true"
     providerName="System.Data.SqlClient"/>
</connectionStrings>
